{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "indent": ["error", 4],
    "max-len": [1, 300, 2, { "ignoreComments": true }],
    "no-console": "off",
    "no-shadow": ["error", { "builtinGlobals": false, "hoist": "functions", "allow": [] }]
  }}